<a href="https://colab.research.google.com/github/zxrxuanrong/zenlong/blob/master/python%E6%B1%BA%E7%AD%96%E8%88%87%E9%81%B8%E6%93%87%E7%B5%90%E6%A7%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 30
b = 220

if b > a:
  print("b is great than a")

b is great than a

In [5]:
year= eval(input("請輸入年"))

if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2000
2000 是閏年

In [23]:
import time


#date = time.localtime()		#取得目前的日期時間
#year = date[0]
#month = date[1]
#day = date[2]

year, month, day = eval(input("請輸入年月日::"))
day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	
  day_month[1] = 29
if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

請輸入年月日::2021,10,21
294

In [24]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
for n in range(5):
  print(n, end='~')

0~1~2~3~4~

In [34]:


numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)

print(my_numbers)

[4, 8, 6]

In [43]:
total = i = 1

n = int(input())

while(i<=n):
    total *= i  
    i+=1
    print("%d=%d" % (n, total))

3
3=1
3=2
3=6